<!-- Contact -->
<li class="post-holder" id=email><!-- Begin: li.html -->
	<data class="meta dn">
		contact
		{{/*
		{{ .Title }}
		{{ .Description }}
		{{ .Params.assignment }}
		{{ .Params.location }}		
		{{ .PlainWords }}
		*/}}
	</data>

<article class="pt5"><!-- id="" -->
	<section class="cf w-100 pv3 f4 ph3 ph4-ns">
		<div class="mw9 center ph3-ns">
		  <div class="ph2-ns">
		    <div class="fl w-100 w-70-ns pr4"><!-- w-two-thirds -->
		      <div class="pv4 fr w-100 w-90-m w-80-l"><!-- outline bg-black-05 truncate no-wrap -->
		      	
		      	{{if .IsHome}}
		      	<a href="/contact" class="no-underline dim db f6 ttu tracked fw1 inherit"><!-- /contact -->
		      		<svg style="-webkit-transform: translate3d(0,0,0);" viewbox="0 0 482 482" class="no-select pr2 h07 inherit">
		      			<use xlink:href="#url"></use>
		      		</svg>     	
		      		<span class="b">Contact</span>
		      		<!--time class="black b">{{ dateFormat "01-02-2006" .Date }}{{/* dateFormat "Monday January, 2, 2006" .Date */}}</time-->
		      	</a>
		      	{{ end }}
		      	
		      	{{if not .IsHome}}
		      	<a href="{{ .Site.BaseURL }}" class="no-underline dim db f6 ttu tracked fw1 inherit"><!-- /contact -->
		      		<svg style="-webkit-transform: translate3d(0,0,0);" viewbox="-356 235 128 128" class="no-select pr2 h07 inherit">
		      			<use xlink:href="#home"></use>
		      		</svg>     	
		      		<span class="b">Home</span>
		      		<!--time class="black b">{{ dateFormat "01-02-2006" .Date }}{{/* dateFormat "Monday January, 2, 2006" .Date */}}</time-->
		      	</a>
		      	{{ end }}


		      
	    			<hr class="ba bw1 mb0 o-10"/>
	    			<header class="fl w-100 pr4-ns">
	    				<h1 class="f2 lh-title fw9 mb3 pt0">
	    					<span class="fw9">Contact</span>
	    				</h1>
	    				<h2 class="f3 lh-title o-70">
	    				  <span class="fw7">{{ .Description }}</span>
	    				</h2>
	    			</header>
	    			<!--
	    			https://formspree.io/&#97;&#108;&#97;&#110;&#46;&#115;&#99;&#111;&#116;&#116;&#46;&#112;&#104;&#105;&#108;&#108;&#105;&#112;&#115;&#64;&#112;&#109;&#46;&#109;&#101;
	    			-->
	    			<!--
	    			https://community.netlify.com/t/common-issue-how-to-debug-your-form/92
	    			action="/posts/3si/"
	    			data-netlify="true"
	    			-->
	    			<section>
	    			    <form accept-charset=utf-8 method=POST enctype="application/x-www-form-urlencoded" class="f5 f4-ns highlight" name="contact" action="/done.html" netlify-honeypot="gotcha" netlify> 
	    			        <input name=subject type=hidden value="Change Artisan">
	    			        <input name=gotcha class=dn />
	    			        <div class=mb4>
	    			            <label for=email class="f6 f5-ns ttu tracked-mega pl3">Address</label>
	    			            <input type=email name=email id=email class="input-reset br0 bn pa3 w-100 bg-white-90" placeholder="your@email.com" pattern="[a-z0-9!#$%&amp;'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&amp;'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" required>
	    			        </div>
	    			        <div class=mb4>
	    			            <label for=message class="f6 f5-ns ttu tracked-mega pl3">Message</label>
	    			            <textarea class="input-reset br0 bn pa3 mw-100 bg-white-90" id=message name=message rows=4 placeholder="Change Artisan write here," style="min-width:100%;" required></textarea>
	    			        </div>
	    			        <div class="fr cb cf mb3 mb6-ns">
	    			            <input class="input-reset pointer dib mv2 br0 f6 f5-ns b ph4 pv3 ba bw2-ns b--black white bg-dark-gray ttu tracked-mega hover-bg-near-black w-100 db" type=submit value=Send>
	    			        </div>
	    			    </form>
	    			</section>

	       </div><!-- /fr outline -->
      </div><!-- /w-two-thirds -->
    </div><!-- /ph2-ns -->
  </div><!-- /mw9 center ph3-ns -->
	</section><!-- /cf w-100 pv3 f4 ph3 ph4-ns --> 
</article>
</li><!-- /li.html -->