<!--style>
  @media only screen and (max-width : 1280px) {
    #{{ .Params.name | lower | urlize }}.lazy-bg-loaded {
      background-image: url("{{ .Site.BaseURL }}{{- if .Params.image -}}{{- .Params.image -}}{{- end -}}");
    }
  }
  {{ if .Params.imageRetina }}
    /* @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) */
    @media only screen and (min-width : 1281px) {
      #{{ .Params.name | lower | urlize }}.lazy-bg-loaded {
        background-image: url("{{ .Site.BaseURL }}{{- if .Params.imageRetina -}}{{- .Params.imageRetina -}}{{- end -}}");
      }
    }
  {{ end }}
</style-->

<header class=""><!-- NOTE: `seal` -->
  <div class="dt w-100 tc bg-dark-gray white cover
    portrait-vh-50 landscape-vh-66
    landscape-vh-85-ns portrait-vh-85-ns
    landscape-vh-66-m portrait-vh-85-m
    landscape-vh-85-l bg-center feature bg-sustainer-home"    
    id="{{ .Params.name | lower | urlize }}"><!-- `lazy-bg` style="background-position:{{- if .Params.backgroundPos -}}{{- .Params.backgroundPos -}}{{- end -}}" -->
    <div class="dtc tc white
          pv4 ph3 v-btm
          pv3-ns v-mid-ns
          pv5-m v-btm-m
          pt6-l ph4-l
          text-shadow measure-narrow lh-title">
      
      {{ if eq .Section "home" }}
      <h1 class="pa0 ma0">
        <span
          class="tracked tracked-mega-ns tracked-mega-m tracked-mega-l f3 f2-ns f2-m f1-l mb0 ts1-dark-gray ttu">
          {{- if (isset .Site.Params "author" ) }}
            {{ .Site.Params.author }}
          {{ else }}
            {{ .Params.title }}
          {{ end -}}</span>
        <span class="db f4 f3-ns fw5 ts1-dark-gray">
          {{- if (isset .Site.Params "jobtitle" ) }}
            {{ .Site.Params.jobtitle }}
          {{ else }}
            {{ .Params.subtitle }}
          {{ end -}}</span>
      </h1>
      {{ else }}
        <h2 class="pa0 ma0">
          <span class="tracked tracked-mega-ns tracked-mega-m tracked-mega-l f3 f2-ns f2-m f1-l mb0 ts1-dark-gray ttu">{{- if .Params.title -}}{{- .Params.title -}}{{- end -}}</span>
          <span class="db f4 f3-ns fw5 ts1-dark-gray">{{- if .Params.subtitle -}}{{- .Params.subtitle -}}{{- end -}}</span>
        </h2>
      {{ end }}
    </div>
  </div>
</header>

