<aside>
{{- range .Sections.ByWeight -}}{{- .Params.name | lower | urlize -}}{{- end -}}
<ul class="list pl0 tracked tracked-m tracked-l ttu mb3 b system no-clutter f8 f6-m f7-l"><!-- f8 f7-ns f5-m f4-l -->
  <li class="silver  dn dib-ns">Share:</li>
  <li class=" dib "><a
      href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink | safeJS }}&amp;quote={{ .Summary | safeJS }}"
      target="_blank" title="Share on Facebook"
      class="ph2 pv2 ph2-ns ph2-m ph3-l pv2-ns hover-white white-50 br1 link pointer bg-facebook">facebook</a></li>
  <li class=" dib "><a href="https://twitter.com/intent/tweet?source={{ .Permalink | safeJS }}&amp;text={{ .Summary | safeJS }}"
      target="_blank" title="Tweet this"
      class="ph2 pv2 ph2-ns ph2-m ph3-l pv2-ns hover-white white-50 br1 link pointer bg-twitter">twitter</a></li><!-- &amp;via={{- range .Sections.ByWeight -}}{{- .Params.name | lower | urlize -}}{{- end -}} -->
  <!--li class=" dib "><a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ .Permalink | safeJS }}&amp;title={{ .Summary | safeJS }}&amp;summary=Alessandro%20Ronca%20is%20a%20multi-disciplined%20Training%20Facilitator%20with%20experience%20guiding%20people%20in%20energy%20conservation%2C%20sustainable%20technologies%2C%20and%20seizing%20life-changing%20opportunities.&amp;source={{ .Permalink | safeJS }}"
      target="_blank" title="Share on LinkedIn"
      class="ph2 pv2 ph2-ns ph2-m ph3-l pv2-ns hover-white white-50 br1 link pointer bg-linkedin">LinkedIn</a></li-->
  <li class=" dib "><a href="mailto:?subject={{ .Title | safeJS }}&amp;body={{ .Summary | safeJS }}{{ .Permalink | safeJS }}"
      target="_blank" title="Send this"
      class="ph2 pv2 ph2-ns ph2-m ph3-l pv2-ns hover-white white-50 br1 link pointer bg-pm-blue-dark">email</a></li>
  <!--li class=" dib "><a href="http://pinterest.com/pin/create/button/?url={{ .Permalink | safeJS }}&amp;media=https://inspiredlabs.co.uk/{{ .Permalink | safeJS }}/images/ale-header-1x.jpg&amp;description=Alessandro%20Ronca%20is%20a%20multi-disciplined%20Training%20Facilitator%20with%20experience%20guiding%20people%20in%20energy%20conservation%2C%20sustainable%20technologies%2C%20and%20seizing%20life-changing%20opportunities."
      target="_blank" title="Pin it" class="ph2 pv2 ph2-ns ph2-m ph3-l pv2-ns hover-white white-50 br1 link pointer bg-pinterest">Pinterest</a></li-->
  <!--li class=" dib "><a class="link pointer charcoal dim no-underline"
        href="http://www.reddit.com/submit?url={{ .Permalink | safeJS }}&amp;title={{ .Summary | safeJS }}"
        target="_blank" title="Submit to Reddit">Reddit</a></li-->
  <!-- li class=" dib "><a class="link pointer charcoal dim no-underline"
        href="http://wordpress.com/press-this.php?u={{ .Permalink | safeJS }}&amp;quote={{ .Summary | safeJS }}&amp;s=Alessandro%20Ronca%20is%20a%20multi-disciplined%20Training%20Facilitator%20with%20experience%20guiding%20people%20in%20energy%20conservation%2C%20sustainable%20technologies%2C%20and%20seizing%20life-changing%20opportunities.&amp;i=https://inspiredlabs.co.uk/{{ .Permalink | safeJS }}/images/ale-header-1x.jpg"
        target="_blank" title="Publish on WordPress">WordPress</a></li-->
    <li class=" dib ">
      <!-- ph0 pv2 ph2-ns pv2-ns  --><a href="{{ .Permalink }}" title="{{ .Permalink | lower | urlize }}"
        class="ph2 pv2 ph2-ns ph2-m ph3-l pv2-ns hover-white white-50 br1 link pointer bg-dark-gray">Link</a></li>
  </ul>
</aside>