<aside>
{{- range .Sections.ByWeight -}}{{- .Params.name | lower | urlize -}}{{- end -}}
<ul class="list pl0 tracked tracked-m tracked-l ttu mb3 b system no-clutter">  
  <li class="f8 f7-ns f5-m f4-l dib silver">Share:</li>
  <li class="f8 f7-ns f5-m f4-l dib"><a
      href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Falessandroronca.it%2F&amp;quote=Alessandro%20Ronca%20WHM%20Workshop%20in%20Umbria%2C%20Italy"
      target="_blank" title="Share on Facebook"
      class="ph2 pv2 ph2-ns ph2-m ph3-l pv2-ns hover-white white-50 br1 link pointer bg-facebook">facebook</a></li>
  <li class="f8 f7-ns f5-m f4-l dib"><a href="https://twitter.com/intent/tweet?source=https%3A%2F%2Falessandroronca.it%2F&amp;text=Alessandro%20Ronca%20WHM%20Workshop%20in%20Umbria%2C%20Italy:%20https%3A%2F%2Falessandroronca.it%2F"
      target="_blank" title="Tweet this"
      class="ph2 pv2 ph2-ns ph2-m ph3-l pv2-ns hover-white white-50 br1 link pointer bg-twitter">twitter</a></li><!-- &amp;via={{- range .Sections.ByWeight -}}{{- .Params.name | lower | urlize -}}{{- end -}} -->
  <li class="f8 f7-ns f5-m f4-l dib"><a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https%3A%2F%2Falessandroronca.it%2F&amp;title=Alessandro%20Ronca%20WHM%20Workshop%20in%20Umbria%2C%20Italy&amp;summary=Alessandro%20Ronca%20is%20a%20multi-disciplined%20Training%20Facilitator%20with%20experience%20guiding%20people%20in%20energy%20conservation%2C%20sustainable%20technologies%2C%20and%20seizing%20life-changing%20opportunities.&amp;source=https%3A%2F%2Falessandroronca.it%2F"
      target="_blank" title="Share on LinkedIn"
      class="ph2 pv2 ph2-ns ph2-m ph3-l pv2-ns hover-white white-50 br1 link pointer bg-linkedin">LinkedIn</a></li>
  <li class="f8 f7-ns f5-m f4-l dib"><a href="mailto:?subject=Alessandro%20Ronca%20WHM%20Workshop%20in%20Umbria%2C%20Italy&amp;body=Alessandro%20Ronca%20is%20a%20multi-disciplined%20Training%20Facilitator%20with%20experience%20guiding%20people%20in%20energy%20conservation%2C%20sustainable%20technologies%2C%20and%20seizing%20life-changing%20opportunities.:%20https%3A%2F%2Falessandroronca.it%2F"
      target="_blank" title="email this"
      class="ph2 pv2 ph2-ns ph2-m ph3-l pv2-ns hover-white white-50 br1 link pointer bg-pm-blue-dark">email</a></li>
  <!--li class="f8 f7-ns f5-m f4-l dib"><a href="http://pinterest.com/pin/create/button/?url=https%3A%2F%2Falessandroronca.it%2F&amp;media=https://inspiredlabs.co.uk/alessandroronca.it/images/ale-header-1x.jpg&amp;description=Alessandro%20Ronca%20is%20a%20multi-disciplined%20Training%20Facilitator%20with%20experience%20guiding%20people%20in%20energy%20conservation%2C%20sustainable%20technologies%2C%20and%20seizing%20life-changing%20opportunities."
      target="_blank" title="Pin it" class="ph2 pv2 ph2-ns ph2-m ph3-l pv2-ns hover-white white-50 br1 link pointer bg-pinterest">Pinterest</a></li-->
  <!--li class="f8 f7-ns f5-m f4-l dib"><a class="link pointer charcoal dim no-underline"
        href="http://www.reddit.com/submit?url=https%3A%2F%2Falessandroronca.it%2F&amp;title=Alessandro%20Ronca%20WHM%20Workshop%20in%20Umbria%2C%20Italy"
        target="_blank" title="Submit to Reddit">Reddit</a></li-->
  <!-- li class="f8 f7-ns f5-m f4-l dib"><a class="link pointer charcoal dim no-underline"
        href="http://wordpress.com/press-this.php?u=https%3A%2F%2Falessandroronca.it%2F&amp;quote=Alessandro%20Ronca%20WHM%20Workshop%20in%20Umbria%2C%20Italy&amp;s=Alessandro%20Ronca%20is%20a%20multi-disciplined%20Training%20Facilitator%20with%20experience%20guiding%20people%20in%20energy%20conservation%2C%20sustainable%20technologies%2C%20and%20seizing%20life-changing%20opportunities.&amp;i=https://inspiredlabs.co.uk/alessandroronca.it/images/ale-header-1x.jpg"
        target="_blank" title="Publish on WordPress">WordPress</a></li-->
    <li class="f8 f7-ns f5-m f4-l dib">
      <!-- ph0 pv2 ph2-ns pv2-ns  --><a href="{{ .RelPermalink }}" title="{{ .Permalink | absURL | lower | urlize }}"
        class="ph2 pv2 ph2-ns ph2-m ph3-l pv2-ns hover-white white-50 br1 link pointer bg-dark-gray">Link</a></li>
  </ul>
</aside>