{{- range .Sections.ByWeight -}}{{- .Params.name | lower | urlize -}}{{- end -}}
<hr>
<h3>Share</h3>
<ul class="list pl0">
  <li><a class="link pointer charcoal dim no-underline"
      href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Falessandroronca.it%2F&amp;quote=Alessandro%20Ronca%20WHM%20Workshop%20in%20Umbria%2C%20Italy"
      target="_blank" title="Share on Facebook">Facebook</a></li>
  <li><a class="link pointer charcoal dim no-underline"
      href="https://twitter.com/intent/tweet?source=https%3A%2F%2Falessandroronca.it%2F&amp;text=Alessandro%20Ronca%20WHM%20Workshop%20in%20Umbria%2C%20Italy:%20https%3A%2F%2Falessandroronca.it%2F"
      target="_blank" title="Tweet">Twitter</a></li><!-- &amp;via={{- range .Sections.ByWeight -}}{{- .Params.name | lower | urlize -}}{{- end -}} -->
  <li><a class="link pointer charcoal dim no-underline"
      href="http://pinterest.com/pin/create/button/?url=https%3A%2F%2Falessandroronca.it%2F&amp;media=https://inspiredlabs.co.uk/alessandroronca.it/images/ale-header-1x.jpg&amp;description=Alessandro%20Ronca%20is%20a%20multi-disciplined%20Training%20Facilitator%20with%20experience%20guiding%20people%20in%20energy%20conservation%2C%20sustainable%20technologies%2C%20and%20seizing%20life-changing%20opportunities."
      target="_blank" title="Pin it">Pinterest</a></li>
  <li><a class="link pointer charcoal dim no-underline"
      href="http://www.reddit.com/submit?url=https%3A%2F%2Falessandroronca.it%2F&amp;title=Alessandro%20Ronca%20WHM%20Workshop%20in%20Umbria%2C%20Italy"
      target="_blank" title="Submit to Reddit">Reddit</a></li>
  <li><a class="link pointer charcoal dim no-underline"
      href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https%3A%2F%2Falessandroronca.it%2F&amp;title=Alessandro%20Ronca%20WHM%20Workshop%20in%20Umbria%2C%20Italy&amp;summary=Alessandro%20Ronca%20is%20a%20multi-disciplined%20Training%20Facilitator%20with%20experience%20guiding%20people%20in%20energy%20conservation%2C%20sustainable%20technologies%2C%20and%20seizing%20life-changing%20opportunities.&amp;source=https%3A%2F%2Falessandroronca.it%2F"
      target="_blank" title="Share on LinkedIn">LinkedIn</a></li>
  <li><a class="link pointer charcoal dim no-underline"
      href="http://wordpress.com/press-this.php?u=https%3A%2F%2Falessandroronca.it%2F&amp;quote=Alessandro%20Ronca%20WHM%20Workshop%20in%20Umbria%2C%20Italy&amp;s=Alessandro%20Ronca%20is%20a%20multi-disciplined%20Training%20Facilitator%20with%20experience%20guiding%20people%20in%20energy%20conservation%2C%20sustainable%20technologies%2C%20and%20seizing%20life-changing%20opportunities.&amp;i=https://inspiredlabs.co.uk/alessandroronca.it/images/ale-header-1x.jpg"
      target="_blank" title="Publish on WordPress">WordPress</a></li>
  <li><a class="link pointer charcoal dim no-underline"
      href="mailto:?subject=Alessandro%20Ronca%20WHM%20Workshop%20in%20Umbria%2C%20Italy&amp;body=Alessandro%20Ronca%20is%20a%20multi-disciplined%20Training%20Facilitator%20with%20experience%20guiding%20people%20in%20energy%20conservation%2C%20sustainable%20technologies%2C%20and%20seizing%20life-changing%20opportunities.:%20https%3A%2F%2Falessandroronca.it%2F"
      target="_blank" title="Send email">Send email</a></li>
</ul>