<hr>
<h3>Social</h3>

<a href="https://api.whatsapp.com/send?text=I%20have%20seen%20your%20website%20AlessandroRonca.it&phone=390744988050"
  class="fl db w-third glow o-90 overflow-hidden cover z-0 aspect-ratio--3x1"
  style="background:white url({{ .Site.BaseURL | relURL }}images/00e676-whatsapp.svg) no-repeat center center"
  alt="whatsapp"></a>

<a href="mailto:fairtech@pm.me?subject=I%20have%20seen%20your%20website%20AlessandroRonca.it"
  class="fl db w-third glow o-90 overflow-hidden cover z-0 aspect-ratio--3x1"
  style="background:white url({{ .Site.BaseURL | relURL }}images/protonmail.svg) no-repeat center center;background-color:#526ee0;" alt="email"></a><!-- bg-protonmail -->

<a target="_blank" href="https://twitter.com/fairtechrvolt"
  class="fl db w-third glow o-90 overflow-hidden cover z-0 aspect-ratio--3x1"
  style="background:white url({{ .Site.BaseURL | relURL }}images/1da1f2-twitter.svg) no-repeat center center" alt="twitter"></a>

<a href="sms:+39 0744 988 050&body=I%20have%20seen%20your%20website%20AlessandroRonca.it"
  class="fl db w-third glow o-90 overflow-hidden cover z-0 aspect-ratio--3x1"
  style="background:white url({{ .Site.BaseURL | relURL }}images/00bc28-sms.svg) no-repeat center center" alt="sms"></a>

<a target="_blank"
  href="https://www.google.com/maps/dir/current+location/Per+-+Il+Parco+Dell'Energia+Rinnovabile,+Localita'+Inano+-+Frattuccia,+05025+Collicello,+Italy"
  class="fl db w-third glow o-90 overflow-hidden cover z-0 white bg-directions"><!-- aspect-ratio--3x1 -->
  <!-- style="background:white url({{ .Site.BaseURL | relURL }}images/directions.svg) no-repeat center center;"
  alt="directions" -->
  <!--svg class="w-100" viewbox="-191 193 128 128" class="no-select pr2 h07 inherit"><use xlink:href="#directions"></use></svg--><!-- background-color:#1A73E8 -->
  {{ $xlink := resources.Get "images/directions.svg" | minify }}
  {{ $xlink.Content | replaceRE "<svg" "<svg class='w-100 no-select pr2 h07 inherit'" | safeHTML }}<!-- viewbox="-191 193 128 128" -->
</a><!-- dd4b39-visit.svg -->

<a target="_blank"
  href="https://www.tripadvisor.co.uk/Hotel_Review-g1757556-d1756467-Reviews-PeR_Il_Parco_dell_Energia_Rinnovabile-Frattuccia_Province_of_Terni_Umbria.html"
  class="fl db w-third glow o-90 overflow-hidden cover z-0 aspect-ratio--3x1"
  style="background:white url({{ .Site.BaseURL | relURL }}images/tripadvisor.svg) no-repeat center center;background-color:#00a680;"
  alt="tripadvisor"></a><!-- #078171 #3f8dcf -->

<a href="tel:+39 335 399 215" class="fl db w-third glow o-90 overflow-hidden cover z-0 aspect-ratio--3x1"
  style="background:white url({{ .Site.BaseURL | relURL }}images/006618-call.svg) no-repeat center center"
  alt="call"></a>

<!-- Parco Energia Rinnovabilie -->
<a target="_blank" href="https://www.youtube.com/user/PeRParcodellEnergia/videos"
  class="fl db w-third glow o-90 overflow-hidden cover z-0 aspect-ratio--3x1"
  style="background:white url({{ .Site.BaseURL | relURL }}images/d82532-youtube.svg) no-repeat center center"
  alt="youtube"></a>

<a target="_blank" href="https://www.facebook.com/PeRIlParcodellaEnergiaRinnovabile/"
  class="fl db w-third glow o-90 overflow-hidden cover z-0 aspect-ratio--3x1"
  style="background:white url({{ .Site.BaseURL | relURL }}images/facebook.svg) no-repeat center center"
  alt="facebook"></a>