html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

a {
  background-color: transparent;
}

strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

a,
article,
aside,
body,
div,
footer,
h1,
h2,
h3,
header,
html,
li,
p,
section,
ul {
  box-sizing: border-box;
}

.cover {
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

.bg-center {
  background-position: 50%;
}

.bg-center {
  background-repeat: no-repeat;
}

.br1 {
  border-radius: 0.125rem;
}

.cf:after,
.cf:before {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

.dn {
  display: none;
}

.db {
  display: block;
}

.dib {
  display: inline-block;
}

.dt {
  display: table;
}

.dtc {
  display: table-cell;
}

.avenir {
  font-family: avenir next, avenir, sans-serif;
}

.athelas {
  font-family: athelas, georgia, serif;
}

.b {
  font-weight: 700;
}

.fw5 {
  font-weight: 500;
}

.h-100 {
  height: 100%;
}

.vh-100 {
  height: 100vh;
}

.tracked {
  letter-spacing: 0.1em;
}

.lh-title {
  line-height: 1.25;
}

.lh-copy {
  line-height: 1.5;
}

.link {
  text-decoration: none;
}

.link,
.link:active,
.link:focus,
.link:hover,
.link:link,
.link:visited {
  transition: color 0.15s ease-in;
}

.link:focus {
  outline: 1px dotted currentColor;
}

.list {
  list-style-type: none;
}

.w-100 {
  width: 100%;
}

.relative {
  position: relative;
}

.o-90 {
  opacity: 0.9;
}

.o-70 {
  opacity: 0.7;
}

.white-50 {
  color: hsla(0, 0%, 100%, 0.5);
}

.dark-gray {
  color: #333;
}

.silver {
  color: #999;
}

.white {
  color: #fff;
}

.bg-dark-gray {
  background-color: #333;
}

.bg-near-white {
  background-color: #f4f4f4;
}

.hover-white:focus,
.hover-white:hover {
  color: #fff;
}

.pa0 {
  padding: 0;
}

.pa2 {
  padding: 0.5rem;
}

.pa4 {
  padding: 2rem;
}

.pl0 {
  padding-left: 0;
}

.pv2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.pv4 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.ph2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.ph3 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.ma0 {
  margin: 0;
}

.ml3 {
  margin-left: 1rem;
}

.mb0 {
  margin-bottom: 0;
}

.mb3 {
  margin-bottom: 1rem;
}

.mb4 {
  margin-bottom: 2rem;
}

.mv7 {
  margin-top: 16rem;
  margin-bottom: 16rem;
}

.underline {
  text-decoration: underline;
}

.tc {
  text-align: center;
}

.ttu {
  text-transform: uppercase;
}

.f1 {
  font-size: 3rem;
}

.f3 {
  font-size: 1.5rem;
}

.f4 {
  font-size: 1.25rem;
}

.f5 {
  font-size: 1rem;
}

.f8 {
  font-size: 0.6rem;
}

.measure {
  max-width: 30em;
}

.measure-narrow {
  max-width: 20em;
}

.mr-auto {
  margin-right: auto;
}

.ml-auto {
  margin-left: auto;
}

.v-btm {
  vertical-align: bottom;
}

.dim {
  transform: translateZ(0);
  opacity: 1;
}

.dim,
.dim:focus,
.dim:hover {
  transition: opacity 0.15s ease-in;
}

.dim:focus,
.dim:hover {
  opacity: 0.5;
}

.dim:active {
  opacity: 0.8;
  transition: opacity 0.15s ease-out;
}

.glow,
.glow:focus,
.glow:hover {
  transition: opacity 0.15s ease-in;
}

.glow:focus,
.glow:hover {
  opacity: 1;
}

.pointer:hover {
  cursor: pointer;
}

.z-1 {
  z-index: 1;
}

/* Useful for display width */

@media screen and (min-width: 30em) {

  .dib-ns {
    display: inline-block;
  }

  .tracked-mega-ns {
    letter-spacing: 0.25em;
  }

  .pa4-ns {
    padding: 2rem;
  }

  .pv2-ns {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .pv3-ns {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .ph2-ns {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .f2-ns {
    font-size: 2.25rem;
  }

  .f3-ns {
    font-size: 1.5rem;
  }

  .f4-ns {
    font-size: 1.25rem;
  }

  .f7-ns {
    font-size: 0.75rem;
  }

  .measure-ns {
    max-width: 30em;
  }

  .v-mid-ns {
    vertical-align: middle;
  }
}

@media screen and (min-width: 30em) and (max-width: 60em) {

  .tracked-m {
    letter-spacing: 0.1em;
  }

  .tracked-mega-m {
    letter-spacing: 0.25em;
  }

  .pa2-m {
    padding: 0.5rem;
  }

  .pv5-m {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .ph2-m {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .f2-m {
    font-size: 2.25rem;
  }

  .f3-m {
    font-size: 1.5rem;
  }

  .f5-m {
    font-size: 1rem;
  }

  .measure-m {
    max-width: 30em;
  }

  .v-btm-m {
    vertical-align: bottom;
  }
}

@media screen and (min-width: 60em) {

  .tracked-l {
    letter-spacing: 0.1em;
  }

  .tracked-mega-l {
    letter-spacing: 0.25em;
  }

  .pa0-l {
    padding: 0;
  }

  .pt6-l {
    padding-top: 8rem;
  }

  .ph3-l {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .ph4-l {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .f1-l {
    font-size: 3rem;
  }

  .f3-l {
    font-size: 1.5rem;
  }

  .f4-l {
    font-size: 1.25rem;
  }

  .measure-wide-l {
    max-width: 34em;
  }
}

/*</style>*/
/*<!--TODO: TEMPLATE CSS -->*/
/*<style>*/

/*</style>*/


/*<style>*/
/*.carousel {
  background: #FAFAFA;
}
.carousel-cell {

  width: 100%;
  height: auto;
  /*
  margin-right: 10px;
  *!/
  background: #333;
}
.carousel-cell-image {
  display: block;
  max-height: 100%;
  margin: 0 auto;
  max-width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
          transition: opacity 0.4s;
}

/* fade in lazy loaded image *!/
.carousel-cell-image.flickity-lazyloaded,
.carousel-cell-image.flickity-lazyerror {
  opacity: 1;
}*/

.bg-near-white {
  background-color: #f8f8f8;
}

/*</style>*/



/*<style>*/

*:focus {
  outline: none
}

*::selection,
::selection {
  color: inherit;
  background: transparent
}

*::-moz-selection,
::-moz-selection {
  color: inherit;
  background: transparent
}

.highlight *::-moz-selection,
.highlight::-moz-selection {
  color: white;
  background: rgba(0, 0, 0, 0.4);
}

.highlight *::selection,
.highlight::selection {
  color: white;
  background: rgba(0, 0, 0, 0.4);
}

/* reintroduce user-select
	p {-webkit-user-select:initial;-khtml-user-select:initial;-moz-user-select:initial;-o-user-select:initial;user-select:initial;-webkit-tap-highlight-color:initial;-webkit-tap-highlight-color:initial;-webkit-touch-callout:initial;-webkit-text-size-adjust:none}

	.no-highlight,summary {
	    -webkit-user-select:none;
	    -khtml-user-select:none;
	    -moz-user-select:none;
	    -o-user-select:none;
	    user-select:none;
	    -webkit-tap-highlight-color:transparent;
	    -webkit-touch-callout:none;
	    -webkit-text-size-adjust:none
	}*/

/* Saturate */


:root {
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */

  --one: 0.1;
  --two: 0.2;
  --three: 0.3;

  --four: 0.4;
  --five: 0.5;
  --six: 0.6;

  --seven: 0.7;
  --eight: 0.8;
  --nine: 0.9;

  --ten: 1.0;

  /* Call-to-action tint */
  --tint-fg: darkgrey;
  /*#4a4a4a*/
  /* Colour */
  --tint-bg: white;
  --dim-cta: darkgrey;
  /*#4a4a4a*/
  --lit-cta: gainsboro;
  /*gray*/

  /* Colour */
  --charcoal: #4a4a4a;
  --dark-beige: rgba(234, 219, 160, var(--ten));
  /* #eadba0; */
  --beige: rgba(244, 237, 207, var(--ten));
  /* #f4edcf; */

  --plum: #7f3c84;
  --tyrian: #57005d;
  --magnolia: #f7f5f7;

  --oxford: #002147;
  --violet: #741472;
  --mustard: #8a3700;
  --spa: #006f45;

  --health: #ef604d;
  --education: #f4ad8b;
  --food: #dcd7d7;
  --transport: #b2d9e8;
  --shelter: #7db6d0;

  --global: #c858c5;
  --national: #f0a1e0;
  --regional: #d8eeea;
  --institution: #9df5d2;
  --community: #59ce89;

  /* Social Media colour */

  --skype: #00aff0;
  /* https://brandpalettes.com/skype-color-codes/ */
  --pinterest: #E60023;
  /* https://business.pinterest.com/en/pinterest-brand-guidelines */
  --twitter: #1da1f2;
  /* https://about.twitter.com/en_us/company/brand-resources.html */
  --linkedin: #0073b2;
  /* https://brand.linkedin.com/downloads */

  /* https://design-system-beta.netlify.com/colors/ */
  /* https://protonmail.com/support/knowledge-base/is-protonmail-gdpr-compliant/ */
  /* https://github.com/edent/SuperTinyIcons */
  --pm-blue: #657ee4;
  --pm-blue-dark: #526ee0;
  --pm-blue-light: #788ee8;

  --vimeo: #1eb8eb;
  /* https://vimeo.com/311885154 */
  --tripadvisor: #00a680;
  /* https://www.tripadvisor.com/Widgets */
  --facebook: #1877f2;
  /* New blue: https://en.facebookbrand.com/facebookapp/ */
  --whatsapp: #25D366;
  /* https://whatsappbrand.com/ */

  /* Inspired by Sharmin akter: shuvochowdhuryart@gmail.com */
  --electric-lime: #bcff00;
  --caribbean: #17e2a0;
  --meadow: #16bf82;
  --cobalt: #1771a0;
  --egyptian: #27389d;
  --prussia: #772bed;
  --raspberry: #bf0060;
  --pumpkin: #f36017;
  --mandarino: #ffb111;
  --soccorso: #ffce00;
}

/*------------------- InstantWebapp colourscheme ---------------------*/

/* htmlcsscolor.com/hex/f36017 */

/* Roadside Assistance */

/* Tangerine */

/* Egypt sky */


/* Wiki shades of purple */

/* htmlcsscolor.com/hex/bcff00 */

/* It Works! */


/* What is better than cobolt? #1771a0 */

/* Prussian Violet */

/* Example */

/* Example */

/* Mexican Pink: en.wikipedia.org/wiki/Mexican_pink */

/*------------------- Social Media colour ---------------------*/

.bg-twitter {
  background-color: var(--twitter);
}

.bg-facebook {
  background-color: var(--facebook);
}


/* Protonmail */

/* Protonmail */

.bg-pm-blue-dark {
  background-color: var(--pm-blue-dark);
}

/* Protonmail */

/*</style>*/
/*<style>*/

/*------------------- Tint ---------------------*/

/*</style>*/
/*<style>*/

/*------------------- Generic ---------------------*/


/*------------------- Dirty beige ---------------------*/

/*------------------- Dim Gray! ---------------------*/


/*------------------- Off White ---------------------*/

/*------------------- Charcoal grey ---------------------*/
.charcoal {
  color: var(--charcoal);
}


/*------------------- Toetal Magnolia ---------------------*/




/*------------------- Toetal Purple ---------------------*/




/*------------------- Toetal Plum ---------------------*/

/*------------------- Beacon orange ---------------------*/

/* hazard, warning, prepare, signal, logo */

/*------------------- Dijon mustard ---------------------*/


/*---------------------- Luxury spa ----------------------*/



/*-------------------- Crystal violet ---------------------*/
/* en.wikipedia.org/wiki/Crystal_violet */
/* Purple for PeR, three pointed star */
/* Used: medicinal antisceptic/ dye */


/*--------------------- Oxford blue ----------------------*/
/* https://encycolorpedia.com/002147 */

/*</style>*/
/*<style>*/

/*</style>*/
/*<style>*/
/*--------------------- Dark Lime ----------------------*/
/* https://thediscobunny.com */

/*--------------------- Lilac Flower ----------------------*/
/* https://thediscobunny.com */

/*--------------------- Jade ----------------------*/
/* https://thediscobunny.com */

/*--------------------- Disco Pink ----------------------*/

/*</style>*/

/*<style>*/
/*------------ HEFTS, Area colour scheme ------------*/
/* from: https://www.visualisingdata.com/2019/08/five-ways-to-design-for-red-green-colour-blindness/ */

/*--------------------- HEALTH ----------------------*/

/*------------------ EDUCATION -------------------*/

/*--------------------- FOOD ----------------------*/

/* deccc2 */

/*------------------ TRANSPORT -------------------*/

/*--------------------- SHELTER ----------------------*/

/*--------------- Level colour scheme ----------------*/
/* "all" "colour blind" "palette" */
/* "colour blind" "colour scheme" */
/* Tripple staining, from: https://jfly.uni-koeln.de/color/ */

/*--------------------- GLOBAL ----------------------*/

/*--------------- NATIONAL / FEDERAL ---------------*/

/*--------------- REGIONAL / STATE -----------------*/

/*------------------ INSTITUTION -------------------*/

/*------------------- COMMUNITY --------------------*/

/*</style>*/
/*<style>*/

/*Consider: these styles universally across HUGO & PHP?
		EG: h1, h2, h3, h4, h5, h6 class="lh-title"
	*/

/* details hr { border-color: rgba(0,0,0,.05); border-width: .125rem; border-bottom-style: solid; }*/
/* https://discourse.gohugo.io/t/whats-best-way-to-style-markdown-on-single-pages/16622 */
/* https://discourse.gohugo.io/t/markdown-not-being-rendered-within-html-block/2532/3 */

/* Shortcode: gohugo.io/templates/shortcode-templates/ */

/* Fix overflow glitch */

/*</style>*/

/*<style>*/


/*</style>*/


/*<!-- Extending Tachyons.CSS -->*/
/*<style>*/
/* Break URL: https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */
/* .scrollspy: gumshoe.min.js */
html {
  overflow-y: auto;
  /* scroll-behavior: smooth; */
  /*-webkit-text-size-adjust: 100%;*/
}

/* Generic: ID asterisk */
/* #scrollspy *.active { } */
/* #scrollspy *.active a */

/* Quick cleanup */



/* rework: `highlight`, `no-select` & `no-clutter`? */
* {
  /*outline: none;*/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  /* Android */
}

/* iOS zoom */
html,
body {
  /*-webkit-text-size-adjust: 100%;*/
}

/* iOS subpixel jank */

.system {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif
}

/* Atomic utility class */
.no-clutter {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  /*-webkit-user-select:none;
  -ms-touch-action:none;*/
}

/* https://stackoverflow.com/questions/71074/how-to-remove-firefoxs-dotted-outline-on-buttons-as-well-as-links */

.touch-manipulation {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

*,
*:focus,
*:focus:not(.focus-visible) {
  box-shadow: 0 0 0 0 #808080;
  /* rgb(128,128,128) == #808080 */
}

/*  Scott's `forceRestyle();` hack: */

/* Keyboard hint: */

/* Rerty prompt animation: stackoverflow.com/questions/15726000/css-animation-similar-to-mac-os-x-10-8-invalid-password-shake	*/

/* keyframes */

/* RETRY */

/* RETRY */

/* -moz-keyframes */

/* RETRY */

/* Search emphasis */

/*input::-webkit-input-placeholder,
	input:-moz-placeholder,
	input::-moz-placeholder,
	input:-ms-input-placeholder*/

/* Webkit BUG! */

/*input:focus::-webkit-input-placeholder,
	input:focus:-moz-placeholder,
	input:focus::-moz-placeholder,
	input:focus:-ms-input-placeholder*/

/* invalid selectors, pseudo-elements & pseudo-classes: stackoverflow.com/questions/2610497/change-an-html5-inputs-placeholder-color-with-css*/

/* Directly from: inclusive-components.design/tabbed-interfaces */

/*************** Useful, but breaks convention! ***************/

/* Transitions */

/*************** Useful, but above breaks convention! ***************/

/*************** Check: in use? ***************/




/* https://css-tricks.com/breaking-css-box-shadow-vs-drop-shadow/ */
/* Xpx Ypx BLURpx RGB */
/* Atomise convention:
	.text-shadow { text-shadow: 0px 1px 1px #333; }
	*/
/* Half scale determined: https://tachyons-tldr.now.sh/#/scales */


/* small white text shadow */

/* small white SVG shadow */

/* large white text shadow */

/* large white SVG shadow */

/* small dark-gray text shadow */
.ts1-dark-gray {
  text-shadow: 0px 0.125rem 0.125rem #333;
}

/* small dark-gray SVG shadow */

/* large dark-gray text shadow */

/* large dark-gray SVG shadow */

/*</style>*/
/*<style>*/

@media all and (orientation:portrait) {

  .portrait-vh-50 {
    height: 50vh
  }

  @media screen and (min-width: 30em) {
    .portrait-vh-85-ns {
      height: 85vh
    }
  }

  @media screen and (min-width: 30em) and (max-width: 60em) {
    .portrait-vh-85-m {
      height: 85vh
    }
  }
}

@media all and (orientation:landscape) {

  .landscape-vh-66 {
    height: 66vh
  }

  @media screen and (min-width: 30em) and (max-width: 60em) {
    .landscape-vh-66-m {
      height: 66vh
    }
  }

  @media screen and (min-width: 30em) {
    .landscape-vh-85-ns {
      height: 85vh
    }
  }

  @media screen and (min-width: 60em) {
    .landscape-vh-85-l {
      height: 85vh
    }
  }
}

/*</style>*/
/*<style>*/

.f8 {
  font-size: .6rem
}

/*</style>*/
/*<style>*/

/* Why height is important: */

/*</style>*/

/*<style>*/
/* See this in action: https://codepen.io/inspiredlabs/pen/dBxGmM

.saturate {
	opacity: 0.90;
}

.saturate:hover {
	opacity: 1;
}
*/

/* https://caniuse.com/#search=initial */
/* https://css-tricks.com/getting-acquainted-with-initial/ */

/*</style>*/
/*<style>*/
/* See: vertical-flex.html or https://codepen.io/inspiredlabs/pen/LYPZVQK */

/*</style>*/

/* https://css-tricks.com/snippets/css/common-unicode-icons/ */
/* Recycle existing class and break Tachyons convention.
a[href^="mailto:"]:before {
  content: '';
}

a[href^="tel:"]:before {
  content: '';
}

a[href^="sms:"]:before {
  content: '';
}

a[href^="geo:"]:before {
  content: '';
}

a[href^="market:"]:before {
  content: '';
}
*/



/* 🔒 lock for paywall */
/* .menu for rvo.lt: = */
/* .cross for rvo.lt: https://unicode-table.com/en/1F5D9/ */

/* https://unicode-table.com/en/1F517/ */

/* .quote.emojisymbol:before         { content: "\275D"; } */
/* .quote.emojisymbol:after          { content: "\275E"; } */
