<!-- image -->
<div class="w-100">
  <figure class="{{/* .Get `w-size` */}} ma-auto inherit bg-inherit">
    <img class="b-lazy no-select w-100 ma0" src="data:image/gif,GIF89a,AAAAAAE"
      data-src="{{ .Site.BaseURL }}{{ index .Params "src" }}"
      {{/* if or (isset .Params "src-small") (isset .Params "src") }}
      data-src="{{ .Site.BaseURL }}{{ if isset .Params "src-small"}}{{ index .Params "src-small"}}{{else}}|{{ .Site.BaseURL }}{{ index .Params "src" }}{{ end }}"
      {{ end */}}
      {{ if or (isset .Params "alt") (isset .Params "caption") }}alt="{{ if isset .Params "alt"}}{{ index .Params "alt"}}{{else}}{{ index .Params "caption" }}{{ end }}"
      {{ end }} />
    {{ if or (or (isset .Params "title") (isset .Params "caption")) (isset .Params "attr")}}
    <!--bg-black-80-->
    <figcaption class="bg-dark-gray white-80 pa3 f4 lh-solid relative" style="top:-1em;"><!-- f5 -->
      {{ if isset .Params "title" }}
      <span class="">{{ index .Params "title" | markdownify }}</span>{{ end }}
      {{ if or (isset .Params "caption") (isset .Params "attr")}}<p>
        {{ index .Params "caption" }}
        {{ if isset .Params "attrlink"}}<span href="{{ index .Params "attrlink"}}">{{ end }}
          {{ index .Params "attr" }}
          {{ if isset .Params "attrlink"}}</span> {{ end }}
      </p> {{ end }}
    </figcaption>
    {{ end }}
  </figure>
</div>
<!-- image -->